<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/deathvalet.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>A graphic novel by Ian McBurnie &amp; Dan Haak</p>
    <p>More details coming soon</p>
  </body>
</html>