<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/deathvalet.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>A graphic novel by Ian McBurnie &amp; Dan Haak</h2>
    <h3>Coming soon</h3>
  </body>
</html>